* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #0074D9;
    color: white;
    display: flex;
    justify-content: space-between; /* Aligns items to both ends */
    align-items: center; /* Vertically center the content */
    padding: 10px 20px; /* Reduce padding for a more compact header */
}

#premium {
    display: flex;
    align-items: center;
}




#logout-btn {
    margin-left: 10px; /* Add space between the two buttons */
}

/* Rest of your existing CSS styles for other elements... */



